$black: #333;
$light-black: rgba(0,0,0,0.1);
$grey: #777;
$shadow: #e5e1e1;
$white: snow;
$green: #59a979;
$blue: #3e5f76;

$body-font: 'Open Sans', Arial, sans-serif;
$header-font: 'Raleway', Arial, sans-serif;

$standard-padding: 10px 16px;
$wide-padding: 20px 32px;

@mixin thin-border($color) {
  border: 1px solid $color;
}

%xCenter {
  display: flex;
  justify-content: center;
}

%xyCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

%back-gradient {
  background-image: linear-gradient(to bottom right, $light-black, transparent);
}

%page-background {
  position: fixed;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 8px;
}