$black: #333;
$grey: #777;
$shadow: #e5e1e1;
$white: snow;
$green: #59a979;
$blue: #3e5f76;

$body-font: 'Open Sans', Arial, sans-serif;
$header-font: 'Raleway', Arial, sans-serif;

$standard-padding: 10px 16px;
$wide-padding: 20px 32px;

@mixin thin-border($color) {
  border: 1px solid $color;
}

%xCenter {
  display: flex;
  justify-content: center;
}

%xyCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  @include thin-border($black);
  display: inline-block;
  padding: $standard-padding;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.5s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

input {
  font-size: inherit;
  font-family: inherit;
}

.msg {
  @extend %xyCenter;
  color: darkred;
  padding: $standard-padding;
}