@import '../global.scss';

html {
  height: 100%;
  background-color: $white;
}

body {
  min-height: 100%;
  @extend %xyCenter;
  position: relative;
  font-family: $body-font;
  font-size: 16px;
}

header {
  @extend %xCenter;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: $wide-padding;
  background-color: $blue;
  color: $white;
}

main {

}

section {
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.1), transparent);
  @include thin-border($shadow);
}