@import '../global.scss';

.section {
  background-color: $dark-green;
  margin: $standard-padding;

  & > * {
    margin: $vertical-space 0;
  }

  @media screen and (max-width: $small-breakpoint) {
    margin-right: 0;
    margin-left: 0;
  }

  h2 {
    font-family: $header-font;
    font-size: $header-size;
    font-weight: bold;
  }
}

.resultsWrapper {
  max-height: 400px;
  overflow: auto;
}

.article {
  display: flex;
  justify-content: space-between;
  padding: $standard-padding;
  margin-bottom: $vertical-space;
  background-color: $shadow;

  .articleButtons {
    flex-shrink: 0;
  }
}

.recentArticle {
  display: flex;
  padding: $standard-padding;

  .imgWrapper {
    display: flex;
    justify-content: center;
    max-width: 50%;
    height: 175px;
    overflow: hidden;
    margin-right: $vertical-space;
    @include thin-border($shadow);
    background-color: $more-black;

    .img {
      max-height: 100%;
    }
  }

  .article {
    margin-bottom: 0;
    flex-direction: column;
    flex-grow: 1;
  }

  @media screen and (max-width: $small-breakpoint) {
    flex-direction: column;

    .imgWrapper {
      max-width: none;
      margin-right: 0;

      .img {
        max-width: 100%;
      }
    }
  }
}
