@import '../global.scss';

.section {
  background-color: $dark-green;
  margin: $standard-padding;

  & > * {
    margin-bottom: $vertical-space;
  }

  @media screen and (max-width: $small-breakpoint) {
    margin-right: 0;
    margin-left: 0;
  }
}
