.msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.button {
  border: 1px solid #333;
  display: inline-block;
  padding: 10px 16px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.5s; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.1); }

input {
  font-size: inherit;
  font-family: inherit; }

.msg {
  color: darkred;
  padding: 10px 16px; }

section {
  padding: 20px 32px;
  background-color: #59a979;
  min-width: 345px;
  text-align: center; }
  section div {
    padding: 10px 16px; }

input {
  display: block;
  box-sizing: border-box;
  padding: 2px;
  margin: 10px 0;
  width: 100%; }

.button {
  margin: 0 4px;
  min-width: 44px; }
